In [16]:
import sqlite3
import mysql.connector

In [ ]:
import sqlite3

conn = sqlite3.connect('mysqlite.db')
c = conn.cursor()
#records or rows in a list
records = [(1, 'Glen', 8),
			(2, 'Elliot', 9),
			(3, 'Bob', 7)]

#insert multiple records in a single query
c.executemany('INSERT INTO students VALUES(?,?,?);',records);

print('We have inserted', c.rowcount, 'records to the table.')

#commit the changes to db			
conn.commit()
#close the connection
conn.close()

## remove not downloaded ads

In [163]:
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
with open('file1.txt','w+') as f:
	for i in color:
		f.write('%s,'%i)

# with open('file1.txt') as f:
# 	print(f.read())
###############
list1=[]
with open('file1.txt','r+') as f:
	lines = f.readlines()
list1 = lines[0].split(',')
list1.remove('')
list1

['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

In [88]:
to_remove_list = []
mydb = mysql.connector.connect(
            host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
            user="admin",
            password="AWS$2020",
            port = 3306, #for Mamp users
            database='facebook_ads'
            )
mycursor = mydb.cursor()
sqlite_select_query = f"""select ad_id ,videos,poster from ads;"""
mycursor.execute(sqlite_select_query)
records = mycursor.fetchall()
mycursor.close()
mydb.close()
for record in records:
    videos = record[1].split()
    posters = record[2].split()
    i = 0
    for video in videos:
        name = re.findall('\d+_\d+_\d+_n',video)[0] + '.mp4'
        data = cv2.VideoCapture(video)
        frames = data.get(cv2.CAP_PROP_FRAME_COUNT)
        fps = data.get(cv2.CAP_PROP_FPS)
        seconds = round(frames / fps)
        if seconds < 120:
            import os
            if not os.path.exists(f'./media/vids/{name}'):
                try:
                    urllib.request.urlretrieve(video, f'./media/vids/{name}')
                except:
                    to_remove_list.append(record[0])
                try:
                    poster = posters[i]
                    i += 1
                    poster_name = re.findall('\d+_\d+_\d+_n',poster)[0] + '.jpg'
                    img_data = requests.get(poster).content
                    with open(f'./media/pics/{poster_name}', 'wb') as handler:
                        handler.write(img_data)
                except:
                    print('poster broken for ad',record[0])  
print(len(to_remove_list))
with open('to_remove_list.txt','w+') as f:
    for i in to_remove_list:
        f.write('%s,'%i)

In [ ]:
with open('to_remove_list.txt','r+') as f:
	lines = f.readlines()
to_remove_list = lines[0].split(',')
to_remove_list.remove('')
mydb = mysql.connector.connect(
            host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
            user="admin",
            password="AWS$2020",
            port = 3306, #for Mamp users
            database='facebook_ads'
            )
mycursor = mydb.cursor()
sqlite_select_query = f"""DELETE FROM ads WHERE (ad_id IN ({",".join(["'"+str(x)+"'" for x in to_remove_list])}));"""
mycursor.execute(sqlite_select_query)
# records = mycursor.fetchall()
mydb.commit()
mycursor.close()
mydb.close()

### migrate all the data into production

In [ ]:
mydb = mysql.connector.connect(
            host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
            user="admin",
            password="AWS$2020",
            port = 3306, #for Mamp users
            database='demo'
            )
mycursor = mydb.cursor()
sqlite_select_query = f"""select * from facebook_pages;"""
mycursor.execute(sqlite_select_query)
records1 = mycursor.fetchall()
mycursor.close()
mydb.close()

sqliteConnection = sqlite3.connect('FaceBoookADS.db')
cursor = sqliteConnection.cursor()
sqlite_select_query = f"""select * from facebook_pages;"""
cursor.execute(sqlite_select_query)
records2 = cursor.fetchall()
cursor.close()
sqliteConnection.close()

records = list(set(records1+records2))

In [ ]:
mydb = mysql.connector.connect(
            host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
            user="admin",
            password="AWS$2020",
            port = 3306, #for Mamp users
            database='demo'
            )
mycursor = mydb.cursor()
sqlite_select_query = f"""select * from facebook_pages limit 1;"""
mycursor.execute(sqlite_select_query)
records1 = mycursor.fetchall()
mycursor.close()
mydb.close()

sqliteConnection = sqlite3.connect('FaceBoookADS.db')
cursor = sqliteConnection.cursor()
sqlite_select_query = f"""select * from facebook_pages limit 1;"""
cursor.execute(sqlite_select_query)
records2 = cursor.fetchall()
cursor.close()
sqliteConnection.close()

In [59]:
table_name = 'search_ter'
mydb = mysql.connector.connect(
            host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
            user="admin",
            password="AWS$2020",
            port = 3306, #for Mamp users
            database='facebook_ads'
            )

sqlite_select_query = f'''SELECT `COLUMN_NAME` 
FROM `INFORMATION_SCHEMA`.`COLUMNS` 
WHERE `TABLE_SCHEMA`='facebook_ads' 
    AND `TABLE_NAME`='{table_name}';'''

mycursor = mydb.cursor()
mycursor.execute(sqlite_select_query)
order_cols = mycursor.fetchall()
order_cols = [item for sublist in order_cols for item in sublist]
order_cols.remove('state')
mycursor.close()
mydb.close()
print(order_cols)

ValueError: list.remove(x): x not in list

In [75]:
sql_txt = f"INSERT INTO {table_name}({','.join(order_cols)}) VALUES ({','.join(['%s']*5)})"
sql_txt

'INSERT INTO search_terms(search_term,search_type,static_ID,country,active,last_visited) VALUES (%s,%s,%s,%s,%s)'

In [73]:
f"""select {','.join(order_cols)} from {table_name};"""

'select search_term,search_type,static_ID,country,active,last_visited from search_terms;'

In [80]:
mydb = mysql.connector.connect(
            host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
            user="admin",
            password="AWS$2020",
            port = 3306, #for Mamp users
            database='Demo'
            )
mycursor = mydb.cursor()
sqlite_select_query = f"""select * from {table_name} limit 5;"""
mycursor.execute(sqlite_select_query)
records = mycursor.fetchall()
mycursor.close()
mydb.close()

In [78]:
import sqlite3
import mysql.connector
#get the right order
table_name = 'ads'
mydb = mysql.connector.connect(
            host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
            user="admin",
            password="AWS$2020",
            port = 3306, #for Mamp users
            database='facebook_ads'
            )

sqlite_select_query = f'''SELECT `COLUMN_NAME` 
FROM `INFORMATION_SCHEMA`.`COLUMNS` 
WHERE `TABLE_SCHEMA`='facebook_ads' 
    AND `TABLE_NAME`='{table_name}';'''

mycursor = mydb.cursor()
mycursor.execute(sqlite_select_query)
order_cols = mycursor.fetchall()
order_cols = [item for sublist in order_cols for item in sublist]
order_cols.remove('state')
mycursor.close()
mydb.close()
mydb = mysql.connector.connect(
            host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
            user="admin",
            password="AWS$2020",
            port = 3306, #for Mamp users
            database='Demo'
            )
mycursor = mydb.cursor()
sqlite_select_query = f"""select {','.join(order_cols)} from {table_name};"""
mycursor.execute(sqlite_select_query)
records = mycursor.fetchall()
mycursor.close()
mydb.close()


mydb = mysql.connector.connect(
            host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
            user="admin",
            password="AWS$2020",
            port = 3306, #for Mamp users
            database='facebook_ads'
            )
mycursor = mydb.cursor()
sql_txt = f"INSERT INTO {table_name}({','.join(order_cols)}) VALUES ({','.join(['%s']*len(records[0]))})"
for record in records:
    try:
        mycursor.execute(sql_txt,record)
    except Exception as e:
        print(e)
    mydb.commit()
mycursor.close()
mydb.close()

InterfaceError: Failed parsing OK packet.

In [ ]:
import sqlite3
import mysql.connector
#get the right order
table_name = 'ads'
mydb = mysql.connector.connect(
            host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
            user="admin",
            password="AWS$2020",
            port = 3306, #for Mamp users
            database='facebook_ads'
            )

sqlite_select_query = f'''SELECT `COLUMN_NAME` 
FROM `INFORMATION_SCHEMA`.`COLUMNS` 
WHERE `TABLE_SCHEMA`='facebook_ads' 
    AND `TABLE_NAME`='{table_name}';'''

mycursor = mydb.cursor()
mycursor.execute(sqlite_select_query)
order_cols = mycursor.fetchall()
order_cols = [item for sublist in order_cols for item in sublist]
order_cols.remove('state')
mycursor.close()
mydb.close()
##
sqliteConnection = sqlite3.connect('FaceBoookADS.db')
cursor = sqliteConnection.cursor()
sqlite_select_query = f"""select {','.join(order_cols)} from {table_name};"""
cursor.execute(sqlite_select_query)
records = cursor.fetchall()
cursor.close()
sqliteConnection.close()

mydb = mysql.connector.connect(
            host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
            user="admin",
            password="AWS$2020",
            port = 3306, #for Mamp users
            database='facebook_ads'
            )
mycursor = mydb.cursor()
sql_txt = f"INSERT INTO {table_name} VALUES ({','.join(['%s']*len(records[0]))})"
for record in records:
    try:
        mycursor.execute(sql_txt,record)
    except Exception as e:
        print(e)
    mydb.commit()
mycursor.close()
mydb.close()

In [ ]:
import sqlite3
import mysql.connector
#get the right order
table_name = 'search_term'
mydb = mysql.connector.connect(
            host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
            user="admin",
            password="AWS$2020",
            port = 3306, #for Mamp users
            database='facebook_ads'
            )

sqlite_select_query = f'''SELECT `COLUMN_NAME` 
FROM `INFORMATION_SCHEMA`.`COLUMNS` 
WHERE `TABLE_SCHEMA`='facebook_ads' 
    AND `TABLE_NAME`='{table_name}';'''

mycursor = mydb.cursor()
mycursor.execute(sqlite_select_query)
order_cols = mycursor.fetchall()
order_cols = [item for sublist in order_cols for item in sublist]
order_cols.remove('id')
mycursor.close()
mydb.close()

mydb = mysql.connector.connect(
            host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
            user="admin",
            password="AWS$2020",
            port = 3306, #for Mamp users
            database='Demo'
            )
mycursor = mydb.cursor()
sqlite_select_query = f"""select {','.join(order_cols)} from {table_name};"""
mycursor.execute(sqlite_select_query)
records1 = mycursor.fetchall()
mycursor.close()
mydb.close()
sqliteConnection = sqlite3.connect('FaceBoookADS.db')
cursor = sqliteConnection.cursor()
sqlite_select_query = f"""select {','.join(order_cols)} from {table_name};"""
cursor.execute(sqlite_select_query)
records2 = cursor.fetchall()
cursor.close()
sqliteConnection.close()

records = list(set(records1+records2))

mydb = mysql.connector.connect(
            host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
            user="admin",
            password="AWS$2020",
            port = 3306, #for Mamp users
            database='facebook_ads'
            )
mycursor = mydb.cursor()
sql_txt = f"INSERT INTO {table_name} VALUES ({','.join(['%s']*len(records[0]))})"
for record in records:
    try:
        mycursor.execute(sql_txt,record)
    except Exception as e:
        print(e)
    mydb.commit()
mycursor.close()
mydb.close()

In [17]:

sqliteConnection = sqlite3.connect('FaceBoookADS.db')
cursor = sqliteConnection.cursor()
sqlite_select_query = f"""select * from ads;"""
cursor.execute(sqlite_select_query)
records2 = cursor.fetchall()
cursor.close()
sqliteConnection.close()

In [ ]:
mydb = mysql.connector.connect(
            host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
            user="admin",
            password="AWS$2020",
            port = 3306, #for Mamp users
            database='demo'
            )
mycursor = mydb.cursor()
sqlite_select_query = f"""select * from ads;"""
mycursor.execute(sqlite_select_query)
records1 = mycursor.fetchall()
mycursor.close()
mydb.close()

sqliteConnection = sqlite3.connect('FaceBoookADS.db')
cursor = sqliteConnection.cursor()
sqlite_select_query = f"""select * from ads;"""
cursor.execute(sqlite_select_query)
records2 = cursor.fetchall()
cursor.close()
sqliteConnection.close()

records = list(set(records1+records2))

mydb = mysql.connector.connect(
            host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
            user="admin",
            password="AWS$2020",
            port = 3306, #for Mamp users
            database='facebook_ads'
            )
mycursor = mydb.cursor()
sql_txt = f"INSERT INTO ads VALUES ({','.join(['%s']*len(records[0]))})"
for record in records:
    try:
        mycursor.execute(sql_txt,record)
    except Exception as e:
        print(e)
    mydb.commit()
mycursor.close()
mydb.close()

In [45]:
sqlite_select_query == f"""select static_ID,page_name,favorites,country,block,profile_pic,Facebook_ID,Page_likes,instgram_ID,insta_followers,Ads_count,block_date from facebook_pages;"""

True

In [ ]:
mydb = mysql.connector.connect(
            host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
            user="admin",
            password="AWS$2020",
            port = 3306, #for Mamp users
            database='demo'
            )
mycursor = mydb.cursor()
sqlite_select_query = f"""select * from search_terms;"""
mycursor.execute(sqlite_select_query)
records1 = mycursor.fetchall()
mycursor.close()
mydb.close()

sqliteConnection = sqlite3.connect('FaceBoookADS.db')
cursor = sqliteConnection.cursor()
sqlite_select_query = f"""select * from search_terms;"""
cursor.execute(sqlite_select_query)
records2 = cursor.fetchall()
cursor.close()
sqliteConnection.close()

records = list(set(records1+records2))

mydb = mysql.connector.connect(
            host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
            user="admin",
            password="AWS$2020",
            port = 3306, #for Mamp users
            database='facebook_ads'
            )
mycursor = mydb.cursor()
sql_txt = f"INSERT INTO search_terms VALUES ({','.join(['%s']*len(records[0]))})"
for record in records:
    try:
        mycursor.execute(sql_txt,record)
    except Exception as e:
        print(e)
    mydb.commit()
mycursor.close()
mydb.close()

## fix one time broken ads

In [75]:
import sqlite3
sqliteConnection = sqlite3.connect('FaceBoookADS.db')
cursor = sqliteConnection.cursor()
sqlite_select_query = f"""select * from "ads" WHERE "cumulative_ads_count" LIKE '%2022%';"""
cursor.execute(sqlite_select_query)
records = cursor.fetchall()

# records = [i[0] for i in records]
print(len(records))
for record in records:
    data = []
    data.append(record[-4])
    data += (list(record[5:-4]))
    data.append(record[0])
    cursor.execute('''UPDATE ads SET
videos_length = ?,content = ? ,Footer_text = ? ,Footer_action = ? ,Page_name = ? ,AD_occurance = ? ,Facebook_ID = ? ,Page_likes = ? ,instgram_ID = ? ,insta_followers = ? ,static_ID = ? ,Ads_count = ? ,cumulative_ads_count = ? ,days = ? ,date = ? ,hits = ? ,search_term = ?
where AD_ID = ?'''
  ,data)
sqliteConnection.commit()
sqliteConnection.close()

10

In [ ]:
cursor.execute('''UPDATE ads SET
video_length = ?,content = ? ,Footer_text = ? ,Footer_action = ? ,Page_name = ? ,AD_occurance = ? ,Facebook_ID = ? ,Page_likes = ? ,instgram_ID = ? ,insta_followers = ? ,static_ID = ? ,Ads_count = ? ,cumulative_ads_count = ? ,days = ? ,date = ? ,hits = ? ,search_term = ?
where AD_ID = ?'''
  ,data)
conn.commit()
conn.close()

('108298711454326',
 'alaa_.888',
 1,
 0,
 1,
 '2022-10-17 02:35:22.770894+00:00',
 'NO Facebook ID found',
 2000,
 '@alaa_.888',
 0,
 'https://scontent.cdninstagram.com/v/t51.2885-15/180843381_1932820030189617_3599037007407971571_n.jpg?stp=dst-jpg_s200x200&_nc_cat=104&ccb=1-7&_nc_sid=8ae9d6&_nc_ohc=Oi93nOfTAIMAX-FwPEz&_nc_ht=scontent.cdninstagram.com&oh=00_AT9IdPEYUXBOJ85GWt0uNyNHjFG_QNy2xu6C0KbV8syvOQ&oe=634CB406',
 'ALL')

### databasse migration

In [22]:
records1[0]

('150398005058111',
 'ASD Account Financial Advisor SA',
 '0',
 '0',
 '0',
 None,
 'NO Facebook ID found',
 '0',
 'NO insta ID found',
 '0',
 'https://scontent-hbe1-1.xx.fbcdn.net/v/t39.35426-6/298281900_5852012538182642_4454294096832948711_n.jpg?stp=dst-jpg_s60x60&_nc_cat=111&ccb=1-7&_nc_sid=cf96c8&_nc_ohc=Iqz8uiZhDGIAX8ZgzGN&_nc_ht=scontent-hbe1-1.xx&oh=00_AT_H7coqy-qPa_Hyba1Xyhgs3De9Cwn0waaBHyNoKXYMsw&oe=635EAD44',
 'ALL')

In [4]:
import sqlite3
sqliteConnection = sqlite3.connect('FaceBoookADS.db')
cursor = sqliteConnection.cursor()
sqlite_select_query = f"""select * from facebook_pages;"""
cursor.execute(sqlite_select_query)
records = cursor.fetchall()

# records = [i[0] for i in records]
print(len(records))
cursor.close()
sqliteConnection.close()

4440

In [5]:
mydb = mysql.connector.connect(
            host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
            user="admin",
            password="AWS$2020",
            port = 3306, #for Mamp users
            database='Demo'
            )
mycursor = mydb.cursor()
for record in records:
    mycursor.execute("INSERT INTO facebook_pages_clone VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)",record)
    mydb.commit()
mydb.close()
mycursor.close()
    # try:
# mycursor.executemany("""INSERT INTO facebook_pages_clone VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)""", records);
# mydb.commit()

KeyboardInterrupt:

In [88]:
import mysql.connector
mydb = mysql.connector.connect(
host="database-1.cclpp8z8lgmz.us-east-1.rds.amazonaws.com",
user="admin",
password="AWS$2020",
port = 3306, #for Mamp users
database='Demo'
)

In [81]:
sqliteConnection = sqlite3.connect('FaceBoookADS.db')
cursor = sqliteConnection.cursor()
sqlite_select_query = f"""select * from facebook_pages limit 20;"""
cursor.execute(sqlite_select_query)
records = cursor.fetchall()

# records = [i[0] for i in records]
print(len(records))

sqliteConnection.close()

20

In [18]:
records2

[('1218107492378490',
  '2022-10-19',
  'https://scontent-hbe1-1.xx.fbcdn.net/v/t39.35426-6/255415194_321543819365310_8369304891521995374_n.jpg?stp=dst-jpg_s60x60&_nc_cat=100&ccb=1-7&_nc_sid=cf96c8&_nc_ohc=3og-PlurviwAX-ufe1P&_nc_ht=scontent-hbe1-1.xx&oh=00_AT-FbEodsDL5V8jZVvTZdWrlaUDnh7jAeuJI7ZT-DNvTqA&oe=635D5E11',
  'https://www.instagram.com/hmns.id/?fbclid=IwAR3zrsAr5CumbSwIa_8aF_pYhiae0WB5R6q3zLZT--9MUUtkG226vG3tecE',
  'https://video-hbe1-1.xx.fbcdn.net/v/t42.1790-2/254846199_469273874510655_834289410278840730_n.?_nc_cat=108&ccb=1-7&_nc_sid=cf96c8&_nc_ohc=GsLAl-fhCEoAX-4wti2&_nc_ht=video-hbe1-1.xx&oh=00_AT_3r5ezIUdLU5FnpbbVGd_irlJqtwZmpqoyvtlMEWgaIQ&oe=6357E2F1',
  '16',
  'EOS membawa solar accord yaitu "the smell of the sun" yang memberikan kesan radiant & hangat seperti liburan di musim panas di Bali. Click "LEARN MORE" now.',
  'INSTAGRAM.COM\nMeet Essence of the Sun!\nLearn More',
  'Learn More',
  'HMNS Perfume',
  1,
  'ID: 2684857714919929',
  6000,
  '@hmns.id',
  2000,
  '2684857714919929',
  0,
  0,
  '25/10/2022',
  '2022-10-25 13:02:51',
  1,
  'perfume',
  0,
  'https://scontent-hbe1-1.xx.fbcdn.net/v/t39.35426-6/256673276_1390756641321175_6464032482272612768_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=cf96c8&_nc_ohc=ObZr7eAkM6IAX9bW_uS&_nc_ht=scontent-hbe1-1.xx&oh=00_AT8HHJcqmEADGaHTf7U82tH9-TTvPBTXK-WaWG-cg9pKlQ&oe=635CB32A',
  'ALL'),
 ('630242475233658',
  '2022-10-20',
  'https://scontent-hbe1-1.xx.fbcdn.net/v/t39.35426-6/275994186_685176905868221_7263627889085128739_n.jpg?stp=dst-jpg_s60x60&_nc_cat=105&ccb=1-7&_nc_sid=cf96c8&_nc_ohc=yzo1rSRUAOsAX_h_R7t&tn=QfpKV6ME6fZEy1uo&_nc_ht=scontent-hbe1-1.xx&oh=00_AT8-gUVvy-DfIGKOYuGtGhcDn6WF8peaNJWYDrEA4FEvqg&oe=635C832E',
  'https://www.instagram.com/hmns.id/?fbclid=IwAR09X-GXstuyJfewop98BFOABZUcMHQn6ew5f_3WOkhiH2jBhTfnoeRby_w',
  'https://video-hbe1-1.xx.fbcdn.net/v/t42.1790-2/275909925_3237004413248294_8640748512482033921_n.?_nc_cat=108&ccb=1-7&_nc_sid=cf96c8&_nc_ohc=EblIP1ZqvhIAX9oNJgy&_nc_ht=video-hbe1-1.xx&oh=00_AT9WC08Sb65cfxOlj03zcx1p6vPhrxvRns2PczWWZcRMOQ&oe=6357E3C1',
  '11',
  'Women can be heroes. Weâ€™ll continue to promote equality to break gap for woman all over the nations.',
  'INSTAGRAM.COM\nLearn More',
  'Learn More',
  'HMNS Perfume',
  1,
  'ID: 2684857714919929',
  6000,
  '@hmns.id',
  2000,
  '2684857714919929',
  0,
  0,
  '25/10/2022',
  '2022-10-25 13:03:05',
  1,
  'perfume',
  0,
  'https://scontent-hbe1-1.xx.fbcdn.net/v/t39.35426-6/275900439_714042523091255_5809625144054915306_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=cf96c8&_nc_ohc=pNVYCTxmxFYAX_FguiH&_nc_ht=scontent-hbe1-1.xx&oh=00_AT93dpu5h-tvZ4-hoaIkrDL4ffqVFe-cXFf1909Ck9xb4A&oe=635BC8FA',
  'ALL'),
 ('973503670710014',
  '2022-10-11',
  'https://scontent-hbe1-1.xx.fbcdn.net/v/t39.35426-6/309193578_862017001874689_2880865693920932136_n.jpg?stp=dst-jpg_s60x60&_nc_cat=110&ccb=1-7&_nc_sid=cf96c8&_nc_ohc=784o28RMSuEAX-_ZwhB&_nc_ht=scontent-hbe1-1.xx&oh=00_AT9NcbSOI9xkGvLq_Ip-KQ3I9OKGnvd8E0pp_cmjnk-8Hw&oe=635DB08E',
  '',
  'https://video-hbe1-1.xx.fbcdn.net/v/t42.1790-2/310317655_973503704043344_6169606311101599812_n.?_nc_cat=105&ccb=1-7&_nc_sid=cf96c8&_nc_ohc=FmDvzSbZBAMAX8t7oqG&_nc_ht=video-hbe1-1.xx&oh=00_AT8z4UZEA56a-y_LsWiVcGxPKd9b04miizrxMTVEEX0CaA&oe=6357E586',
  '7',
  'TENGAH KECOH 2023 ni EKONOMI MELESET!\nRASA RASANYA SESUAI LAGI KE KITA NI NAK HABISKAN RATUSAN & RIBUAN RINGGIT UNTUK SEBOTOL PERFUME?\n\nINSPIRED PERFUME ALTERNATIVE YANG PALING POWER UNTUK SAVING!\n\nEHH PERFUME KAN ADA.\n\nðŸ›’\n\nâœ… Diformulasi Dengan Kandungan Pati Yang Lebih Pekat Dan Padu Sesuai Untuk Cuaca Panas Di Malaysia\nâœ… Lebih 50 Jenis bau\nâœ… Inspired Bau Yang Top & Trending\nâœ… Isipadu 30ml\nâœ… Kandungan Pheromone Yang Tinggi\n\nJOM saving & kekal wangi dengan EHH PERFUME ! Tengah ada promosi pula tu\n\nKlik link whatsapp di bawah sekarang\n\nðŸ›’',
  'No Footer',
  'No Action',
  'ehh.perfume',
  1,
  'NO Facebook ID found',
  0,
  'ID: 107166654485749',
  128,
  '107166654485749',
  0,
  0,
  '25/10/2022',
  '2022-10-25 13:03:19',
  1,
  'perfume',
  0,
  'https://scontent-hbe1-1.xx.fbcdn.net/v/t39.35426-6/308122662_631832835318262_1814122319288632575_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=cf96c8&_nc_ohc=XiqdhP5BvUEAX-fI3sm&_nc_ht=scontent-hbe1-1.xx&oh=00_AT9Q1-i8L0zXxj3VtihE_H4gjTBTfLblF_STc-PM-qZzjA&oe=635CD04F',
  'ALL'),
 ('1360811718058691',
  '2022-10-11',
  'https://scontent-hbe1-1.xx.fbcdn.net/v/t39.35426-6/311145402_3194614777422411_7194024232322928367_n.jpg?stp=dst-jpg_s60x60&_nc_cat=108&ccb=1-7&_nc_sid=cf96c8&_nc_ohc=GGWOnRwvYwEAX85VpMT&_nc_ht=scontent-hbe1-1.xx&oh=00_AT89moROlV33AAdOVdvRjkNHY4qdKAe1KySA6kwoaPzNMg&oe=635D4892',
  'https://ehhperfume.wasap.click/?fbclid=IwAR3YG1yrv7qhhDZ81CFIQiX4lt8CBRCDDqfhGJxqeicHnRWctL2ZlqGQyTg\nhttps://ehhperfume.wasap.click/?fbclid=IwAR2i6I92NZWQv5ofpDhFJyOUYIW0QV4r62u2ufoLMu8lKGnsak7Mp2f2Yxw',
  'https://video-hbe1-1.xx.fbcdn.net/v/t42.1790-2/310117548_1360811771392019_416248203262100710_n.?_nc_cat=107&ccb=1-7&_nc_sid=cf96c8&_nc_ohc=YHssRDUJWuMAX8G6-yc&tn=QfpKV6ME6fZEy1uo&_nc_ht=video-hbe1-1.xx&oh=00_AT_blS3DyS--9avqfVVP947KawVjFBTQc-VedP8y7XgA3g&oe=6357EC48',
  '9',
  'â€œSTRESSNYA BILA RAMAI PAKAI BAU PERFUME YANG SAMA! NASIB BAIK EHH PERFUME ADA BAU YANG SUSAH NAK JUMPAâ€\n\nEHH PERFUME KAN ADA.\n\nðŸ›’ https://ehhperfume.wasap.click/\n\nâœ… Diformulasi Dengan Kandungan Pati Yang Lebih Pekat Dan Padu Sesuai Untuk Cuaca Panas Di Malaysia\nâœ… Lebih 50 Jenis bau\nâœ… Inspired Bau Yang Top & Trending\nâœ… Isipadu 30ml\nâœ… Kandungan Pheromone Yang Tinggi\n\nDah Jangan stress2! Tekan je link laju2! EHH PERFUME ada bau yang terbaru dan trending tau!\nPaling Best Tengah ada promosi & special Freegift pula tu\n\nKlik link whatsapp di bawah sekarang\n\nðŸ›’',
  'No Footer',
  'No Action',
  'ehh.perfume',
  1,
  'NO Facebook ID found',
  0,
  'ID: 107166654485749',
  128,
  '107166654485749',
  0,
  0,
  '25/10/2022',
  '2022-10-25 13:03:25',
  1,
  'perfume',
  0,
  'https://scontent-hbe1-1.xx.fbcdn.net/v/t39.35426-6/311227831_1156794218555085_2425872770384133462_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=cf96c8&_nc_ohc=q9H0qTcL0VEAX9wJxI4&tn=QfpKV6ME6fZEy1uo&_nc_ht=scontent-hbe1-1.xx&oh=00_AT_XidADW57Cc5oNBvIUn-vQ0ZSkfxrOcN9CYjiSKP4fGA&oe=635BF4AD',
  'ALL')]

In [82]:
sqliteConnection = sqlite3.connect('FaceBoookADS.db')
cursor = sqliteConnection.cursor()
sqlite_select_query = f"""select * from search_terms limit 20;"""
cursor.execute(sqlite_select_query)
records = cursor.fetchall()

# records = [i[0] for i in records]
print(len(records))

sqliteConnection.close()

1

In [48]:
2,[1,5,6]

(2, [1, 5, 6])

In [6]:
records[0]

('775334143532273',
 '2022-10-24',
 'https://scontent-hbe1-1.xx.fbcdn.net/v/t39.35426-6/310693240_800679937829605_2452436212821073899_n.jpg?stp=dst-jpg_s60x60&_nc_cat=105&ccb=1-7&_nc_sid=cf96c8&_nc_ohc=sFpHLosVFTsAX99YEZN&_nc_ht=scontent-hbe1-1.xx&oh=00_AT_vEqMJQN5Rs9k3BVenSTj0TbllMOJi5tfbIcWpZtz5-A&oe=635A72CF',
 '',
 'https://video-hbe1-1.xx.fbcdn.net/v/t42.1790-2/309370745_503324988100209_3490100667989017185_n.?_nc_cat=109&ccb=1-7&_nc_sid=cf96c8&_nc_ohc=Q_tejMME6tsAX8Fn5aX&_nc_ht=video-hbe1-1.xx&oh=00_AT-c_BhbardfSjlmpDFmkjT6C99aUuv7_AFlvvrMIdL2aQ&oe=63569E83',
 'Original Testers ðŸ’¯\nðŸ‘‰ DM for orders ðŸ‘ˆ\n\n100ml\n50% Discount ðŸ”¥\nBatch Code + Serial Number ðŸ‘Œ\n.\n.\n.\n#original #testers #testerparfum\n#strongerwithyou #versaceeros #mancera\n#sauvage #Ø§ÙˆØªÙ„ÙŠØª #sauvagedior #ØªÙˆÙ…ÙÙˆØ±Ø¯ #ØªÙˆÙ…ÙÙˆØ±Ø¯Ø¨Ù„Ø§ÙƒØ§ÙˆØ±ÙƒÙŠØ¯ #tomfordblackorchid #tomfordombreleather #tomfordmen\n#1million #perfume #perfumes #fragrance #fragrances #bleuchanel #bleuchanelparfum #invictus #boss #hugoboss #hugo #sÃ¬passione #sipassione #ultraman #aquadigio #tomford',
 'Douglas store - Ø¯ÙˆØ¬Ù„Ø§Ø³ Ø³ØªÙˆØ±\nAccessories, Brand, Auto Service\nSend Message',
 'Send Message',
 'Douglas store - Ø¯ÙˆØ¬Ù„Ø§Ø³ Ø³ØªÙˆØ±',
 '1',
 'NO Facebook ID found',
 '0',
 '@douglasstore22',
 '459',
 110329531602453,
 '0',
 0,
 '24/10/2022',
 '2022-10-24 13:52:33',
 '1',
 'perfume',
 '16',
 0,
 'https://scontent-hbe1-1.xx.fbcdn.net/v/t39.35426-6/310604070_2859476361014238_6069370730618386124_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=cf96c8&_nc_ohc=6AFbed_9-9wAX9NBdr_&_nc_ht=scontent-hbe1-1.xx&oh=00_AT_92xgDSsOudbjXQBEVY4jwcxDBk-wVS3z7jS6HrfWnaw&oe=635BD2EF',
 'all')

In [56]:
list1 = (a,[b,c,d]) = 2,[1,5,6]

In [57]:
list1

(2, [1, 5, 6])

## remove not downloaded ads

In [97]:
# def get_records(SLQQuery):
    sqliteConnection = sqlite3.connect('FaceBoookADS.db')
    cursor = sqliteConnection.cursor()
    cursor.execute(SLQQuery)
    records = cursor.fetchall()
#     print(len(records))
    sqliteConnection.close()
    return records

In [ ]:
SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE'

In [52]:
b

1

In [69]:
# sqlite_select_query = f"""SELECT DISTINCT static_id,page_name, FROM ads where page_name is not '' """
# static_ids = [i[0] for i in get_records(sqlite_select_query)] 
# static_ids.remove('NO static ID found')
# # records = [i[0] for i in records]
# # print(len(records))
# # for record in records:
# #     try:
# #         cursor.execute('''INSERT INTO facebook_pages VALUES 
# #         (?, ?,?)'''
# #                   , (record[0],record[1],False))
# #         sqliteConnection.commit()
# #     except:
# #         pass

4699

### create pages_datebase

In [70]:
sqlite_select_query = f"""SELECT DISTINCT static_id FROM ads where page_name is not '' """
sqliteConnection = sqlite3.connect('FaceBoookADS.db')
cursor = sqliteConnection.cursor()
cursor.execute(sqlite_select_query)
records = cursor.fetchall()
sqliteConnection.close()
static_ids = [i[0] for i in records] 
static_ids.remove('NO static ID found')
for static_id in static_ids:
    sqliteConnection = sqlite3.connect('FaceBoookADS.db')
    cursor = sqliteConnection.cursor()
    sqlite_select_query = f"""SELECT ads_count,Facebook_ID,insta_followers,instgram_ID,Page_likes,profile_pic,page_name FROM ads where static_id = {static_id} order by date desc limit 1"""
    cursor.execute(sqlite_select_query)
    records = cursor.fetchall()
    ads_count,Facebook_ID,insta_followers,instgram_ID,Page_likes,profile_pic,page_name  = records[0]
    cursor.close()
    sqliteConnection.close()
    try:
        sqliteConnection = sqlite3.connect('FaceBoookADS.db')
        cursor = sqliteConnection.cursor()
        cursor.execute(f"""insert into facebook_pages(static_ID,ads_count,Facebook_ID,insta_followers,instgram_ID,Page_likes,profile_pic,page_name,favorites,block) VALUES (?,?,?,?,?,?,?,?,0,0)""",(static_id,ads_count,Facebook_ID,insta_followers,instgram_ID,Page_likes,profile_pic,page_name))
        sqliteConnection.commit()
        sqliteConnection.close()
    except:
        sqliteConnection = sqlite3.connect('FaceBoookADS.db')
        cursor = sqliteConnection.cursor()
        cursor.execute(f"""
        update facebook_pages set 
        Ads_count = ?,
        Facebook_ID = ?,
        insta_followers = ?,
        instgram_ID = ?,
        Page_likes = ?,
        profile_pic = ?,
        page_name = ?
        where static_id = ?
        """,(ads_count,Facebook_ID,insta_followers,instgram_ID,Page_likes,profile_pic,page_name,static_id))
        sqliteConnection.commit()
        sqliteConnection.close()
#clean_old_pages 
sqlite_select_query = f"""DELETE FROM facebook_pages where Ads_count is NULL """
#DELETE FROM table
# WHERE search_condition;
sqliteConnection = sqlite3.connect('FaceBoookADS.db')
cursor = sqliteConnection.cursor()
cursor.execute(sqlite_select_query)
sqliteConnection.commit()
# records = cursor.fetchall()
sqliteConnection.close()

4692

In [8]:
'%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s' == ','.join(['%s']*12)

True

## solve no data problem

In [10]:
'INSERT INTO facebook_pages VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)' =="INSERT INTO facebook_pages VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

True

## count

In [162]:
sqliteConnection = sqlite3.connect('FaceBoookADS.db')
cursor = sqliteConnection.cursor()
cursor.execute("""select static_ID, count(*) as c FROM Ads GROUP BY static_ID""")
records = cursor.fetchall()
#     print(len(records))
sqliteConnection.close()

In [163]:
records

[('0', 1),
 ('100100119547239', 1),
 ('100101471794502', 2),
 ('100106772530451', 1),
 ('100109449544319', 1),
 ('100109651405241', 1),
 ('100110425921069', 13),
 ('100111301813165', 2),
 ('100112392883547', 3),
 ('100113002863377', 2),
 ('100116466071014', 5),
 ('100118665230213', 1),
 ('100119601914982', 2),
 ('100119731969906', 1),
 ('100121389440517', 1),
 ('100123525776787', 1),
 ('100124119232558', 1),
 ('100124741443742', 5),
 ('100125292366804', 1),
 ('100127202656038', 2),
 ('100128456218462', 2),
 ('100129335253816', 1),
 ('100132049394692', 1),
 ('100135505645208', 3),
 ('100136379150137', 1),
 ('100136521449570', 1),
 ('100136819540297', 1),
 ('100138959552683', 1),
 ('100147186159541', 2),
 ('100150285649670', 2),
 ('100151212798459', 1),
 ('100154388439386', 1),
 ('100154432044067', 1),
 ('100155896134144', 1),
 ('100159685363036', 2),
 ('100160619446323', 1),
 ('1001619056584927', 1),
 ('100164375526308', 2),
 ('100166622763048', 1),
 ('100170209367620', 1),
 ('100171215927833', 1),
 ('100172252722748', 1),
 ('100173231876264', 2),
 ('100173832844441', 1),
 ('100175485891651', 4),
 ('100185024671510', 1),
 ('100185885064531', 1),
 ('100190402877685', 2),
 ('100192064847058', 1),
 ('100192235848331', 5),
 ('100192605152958', 1),
 ('100196845603333', 1),
 ('100197499373848', 1),
 ('100199186200075', 1),
 ('100199348774975', 1),
 ('100202778848468', 1),
 ('100205375731193', 9),
 ('100207179501888', 1),
 ('100207772875218', 2),
 ('100208402865738', 1),
 ('100209836191973', 3),
 ('100210749253402', 1),
 ('100214075979272', 1),
 ('100214259396347', 1),
 ('100218362437303', 1),
 ('100220946186510', 1),
 ('100224482840857', 3),
 ('100226269483331', 1),
 ('100228809534855', 1),
 ('100239542159696', 1),
 ('100240982870524', 1),
 ('100241398004857', 1),
 ('100242078202237', 1),
 ('100244059028473', 1),
 ('100249089404607', 1),
 ('100249776207755', 1),
 ('100251129344813', 1),
 ('100251655763200', 1),
 ('100255315571243', 1),
 ('100255787470782', 2),
 ('100257879281619', 1),
 ('100260223845826', 2),
 ('100260922879225', 1),
 ('100261479332742', 4),
 ('100262582835480', 1),
 ('100267689524346', 1),
 ('100269242507581', 3),
 ('100272589547652', 2),
 ('100273482306152', 6),
 ('100277994849466', 2),
 ('100282359129649', 2),
 ('100283938427854', 7),
 ('100284261413735', 4),
 ('100290301694526', 2),
 ('100292888024712', 1),
 ('100294166209002', 2),
 ('100294406190917', 2),
 ('100299641971680', 1),
 ('100301149188635', 1),
 ('100301832752657', 1),
 ('100308035984433', 1),
 ('100314838900141', 1),
 ('100316918622945', 2),
 ('1003173883088739', 1),
 ('100318739396242', 1),
 ('100327752775678', 1),
 ('100328229138485', 1),
 ('100333658330156', 1),
 ('100335113347170', 1),
 ('100336176193607', 1),
 ('100342102250855', 1),
 ('1003428823029236', 1),
 ('100350372834605', 1),
 ('100353284705051', 1),
 ('100353506158134', 2),
 ('100354729414171', 2),
 ('100354759500421', 1),
 ('1003581789780877', 1),
 ('100358445817310', 1),
 ('100371758243683', 3),
 ('100374232393357', 1),
 ('100385089093408', 2),
 ('100390166015317', 1),
 ('100393949452705', 1),
 ('100395635427438', 3),
 ('100395732862196', 1),
 ('100397402102262', 3),
 ('100400149479812', 6),
 ('100403616156078', 4),
 ('100418389397324', 1),
 ('100425731808230', 2),
 ('100427852282388', 2),
 ('100429532831163', 1),
 ('1004315426290282', 2),
 ('100432571538898', 3),
 ('100437709282658', 3),
 ('100438479328092', 2),
 ('100439456166055', 1),
 ('100446762530674', 1),
 ('100447422836392', 3),
 ('100456208095248', 2),
 ('100458709504028', 6),
 ('100461905438873', 4),
 ('100465239182411', 1),
 ('100465288649896', 2),
 ('100466946142778', 2),
 ('100471492831411', 2),
 ('100474461627354', 1),
 ('100478932772456', 2),
 ('100479612512548', 9),
 ('100482704757814', 1),
 ('100483072832474', 1),
 ('100485905394299', 1),
 ('100487215788778', 1),
 ('100488454664393', 1),
 ('1004899096348742', 1),
 ('100490706167700', 5),
 ('100492628770489', 1),
 ('100499312681395', 1),
 ('100499579381373', 2),
 ('100503845896782', 1),
 ('100506069402011', 1),
 ('100506312794714', 1),
 ('100508422691011', 1),
 ('100510168716006', 1),
 ('100513582823438', 2),
 ('100514261633873', 1),
 ('100516455812916', 1),
 ('100517032845001', 1),
 ('100518792190855', 1),
 ('100520625057362', 2),
 ('100521476066946', 1),
 ('100525176017166', 1),
 ('100525842508140', 1),
 ('100527742511420', 1),
 ('100530468206985', 1),
 ('100530612847850', 1),
 ('100532472800424', 1),
 ('100534865715489', 1),
 ('100537046117619', 2),
 ('100537678822223', 1),
 ('100542502842098', 1),
 ('100543372535620', 1),
 ('100544289334013', 1),
 ('100544935758806', 1),
 ('100545162520498', 1),
 ('100545859484502', 1),
 ('100546742274414', 2),
 ('100549268572757', 1),
 ('100552215425011', 10),
 ('100553014668514', 2),
 ('100558172831220', 1),
 ('100563268006393', 2),
 ('100565849995195', 1),
 ('100569266052103', 1),
 ('100569698955783', 1),
 ('100570429390875', 1),
 ('100579122759983', 1),
 ('100580355058701', 2),
 ('100583942000182', 1),
 ('100589082275218', 1),
 ('100589282815475', 1),
 ('100590746175544', 1),
 ('100592839225583', 1),
 ('100595745712382', 3),
 ('100596419489460', 1),
 ('100596476128578', 3),
 ('100598435469874', 1),
 ('100598695739693', 1),
 ('100599244820060', 1),
 ('100600772832837', 1),
 ('100603141806708', 1),
 ('100603358490212', 1),
 ('100603742832418', 1),
 ('100608042821507', 2),
 ('100614625957840', 1),
 ('100615276105999', 1),
 ('100617894697233', 1),
 ('100618286155179', 1),
 ('100618391740704', 1),
 ('100623361695414', 2),
 ('100624626170847', 1),
 ('100624685839073', 1),
 ('100627882646462', 1),
 ('100631878501157', 1),
 ('100635768302175', 1),
 ('100636992707028', 2),
 ('100641161293818', 2),
 ('100642449497629', 1),
 ('100642476090099', 1),
 ('100649389497363', 1),
 ('100652092394539', 1),
 ('100653355803176', 1),
 ('1006551489413689', 1),
 ('100656109438107', 1),
 ('100657681868355', 1),
 ('100658841950129', 1),
 ('100662226104197', 1),
 ('100663802798408', 1),
 ('100665936143406', 3),
 ('100667141681869', 2),
 ('100668935991188', 1),
 ('100674519279797', 1),
 ('100683359270677', 2),
 ('100684958986003', 1),
 ('100685118864141', 2),
 ('100685499484258', 1),
 ('100693475116917', 1),
 ('100693961932103', 1),
 ('100696582315934', 1),
 ('100700692748804', 2),
 ('100701796140146', 1),
 ('100707009475673', 1),
 ('100710505104654', 1),
 ('100718498052100', 1),
 ('100719738727502', 1),
 ('100720886024682', 1),
 ('100720909494834', 1),
 ('100722542675926', 1),
 ('100722789483236', 1),
 ('100726596147541', 1),
 ('100730566123954', 1),
 ('100730684860374', 1),
 ('100731979164250', 1),
 ('100735146160744', 2),
 ('100735248843512', 1),
 ('100737291540123', 1),
 ('100743736144983', 3),
 ('100744778961758', 1),
 ('100747416145991', 1),
 ('100753629127881', 1),
 ('100760969014428', 1),
 ('100769978929036', 1),
 ('100770186148371', 1),
 ('100771322800767', 1),
 ('100771568694468', 1),
 ('100772852818544', 3),
 ('100773036121949', 1),
 ('100779566122797', 1),
 ('100785126022094', 1),
 ('100786765446032', 1),
 ('100792289415211', 1),
 ('100793259134520', 1),
 ('100797185122094', 1),
 ('100797262605490', 1),
 ('100812292604919', 1),
 ('100812296159420', 2),
 ('100815012611934', 1),
 ('100815538993548', 1),
 ('100822482745997', 1),
 ('100823209441380', 2),
 ('100826122603834', 1),
 ('100827508784188', 3),
 ('100828815652198', 1),
 ('100829229482058', 2),
 ('100830332316780', 1),
 ('100830981711372', 1),
 ('100835398609906', 1),
 ('100835465919958', 1),
 ('100836076145207', 1),
 ('100853526104443', 1),
 ('100855396029564', 1),
 ('100856942812893', 1),
 ('100859439467337', 2),
 ('100863214883346', 2),
 ('100864269246814', 3),
 ('100864712721101', 1),
 ('100868429294041', 1),
 ('100870212746297', 1),
 ('100872295200917', 1),
 ('100875225270974', 1),
 ('100876526093991', 2),
 ('100877352796787', 1),
 ('100882686059724', 1),
 ('100886838392703', 1),
 ('100890158003119', 1),
 ('100891601620092', 1),
 ('100891979229483', 2),
 ('100893722755657', 1),
 ('100894886009373', 1),
 ('100896359218286', 1),
 ('100903776137844', 1),
 ('100905462229881', 2),
 ('100905549435669', 1),
 ('100906802746116', 1),
 ('100909219207138', 1),
 ('100909592395179', 1),
 ('100913365994246', 2),
 ('100916969306208', 1),
 ('100918995315418', 2),
 ('100920825985540', 4),
 ('100926962812285', 2),
 ('100928259184068', 1),
 ('100930978718765', 1),
 ('100934722690200', 1),
 ('100952299161058', 1),
 ('100954269349810', 1),
 ('100955239013602', 1),
 ('100955638180491', 1),
 ('100957312738293', 1),
 ('100958279167471', 1),
 ('100960072580080', 1),
 ('100961592420048', 1),
 ('100963232635788', 2),
 ('100966979449842', 1),
 ('100968092760363', 1),
 ('100970485361765', 1),
 ('100972211527205', 1),
 ('100973584964219', 1),
 ('100987461997365', 1),
 ('100987854666590', 7),
 ('100990312425022', 1),
 ('100990981555550', 1),
 ('100993825869048', 1),
 ('100996062697724', 1),
 ('101000725750667', 9),
 ('101001206128548', 1),
 ('101002279371824', 1),
 ('101004772536185', 1),
 ('101005841582561', 1),
 ('101006542701452', 1),
 ('101008542783073', 1),
 ('101009681671785', 1),
 ('101010789427198', 1),
 ('101022325771382', 2),
 ('101026838528006', 1),
 ('101033225602209', 1),
 ('101033526123495', 1),
 ('101034835223756', 1),
 ('101036446624987', 1),
 ('101040515878656', 1),
 ('101040614648956', 2),
 ('101044569431449', 1),
 ('101045495417423', 1),
 ('101047238063907', 2),
 ('101047508861355', 1),
 ('101048788388692', 1),
 ('101049865455472', 1),
 ('101050452758820', 1),
 ('101055349467795', 1),
 ('101059362281760', 1),
 ('101067764954290', 1),
 ('101073329205570', 2),
 ('101074431729371', 1),
 ('101077702042365', 1),
 ('101089168928444', 1),
 ('101091962009016', 1),
 ('10109514234', 3),
 ('101095495868323', 2),
 ('101096408753', 1),
 ('101097179431040', 1),
 ('101098568818191', 3),
 ('101111607334006', 1),
 ('101119742396798', 1),
 ('101120289278522', 13),
 ('101123088532415', 1),
 ('101133512709688', 1),
 ('101135232522497', 2),
 ('101137436034596', 1),
 ('101138695910989', 2),
 ('101146042022673', 1),
 ('101150938434263', 1),
 ('101151562571879', 1),
 ('101157636026914', 1),
 ('101159278528300', 1),
 ('101159795424081', 1),
 ('101159951873282', 1),
 ('101164225819032', 2),
 ('101167834960553', 1),
 ('101179752763527', 1),
 ('101180384623840', 1),
 ('101181775411048', 3),
 ('101184135719411', 1),
 ('101187895199938', 1),
 ('101189142772593', 3),
 ('101190172770684', 1),
 ('101192959249427', 1),
 ('101200989440111', 1),
 ('101201345839671', 3),
 ('101202599349969', 1),
 ('101214192672468', 1),
 ('101215159242706', 1),
 ('101218952716146', 1),
 ('101224912003379', 3),
 ('101225426018808', 2),
 ('101235658469097', 1),
 ('101240422147337', 4),
 ('101244519290194', 1),
 ('101246829230152', 1),
 ('101248029413521', 1),
 ('101250311855110', 2),
 ('101255516079233', 4),
 ('101259044668122', 6),
 ('101264319403011', 1),
 ('101281856012833', 1),
 ('101284492711053', 1),
 ('101289584733700', 4),
 ('101290398741963', 1),
 ('101290976102094', 1),
 ('101293018539902', 1),
 ('101294298221837', 1),
 ('101295217885325', 1),
 ('101296482628512', 1),
 ('101299365493339', 6),
 ('101301259262662', 1),
 ('101303909168050', 1),
 ('101304309312437', 4),
 ('101305601751411', 1),
 ('101305729417976', 1),
 ('101320252511401', 1),
 ('101321318857130', 5),
 ('101324155824219', 1),
 ('101324659388692', 1),
 ('101328382719335', 1),
 ('101332045373849', 1),
 ('101337185416486', 1),
 ('101338119319914', 1),
 ('101345852757811', 1),
 ('101346685926405', 1),
 ('101347262702530', 1),
 ('101353289333635', 2),
 ('101358896003303', 1),
 ('101370891421131', 1),
 ('101373825830381', 2),
 ('101373862164231', 2),
 ('101375133693875', 1),
 ('101378935979286', 1),
 ('101379542258550', 1),
 ('101379951458486', 2),
 ('101380212569563', 1),
 ('101386778994646', 2),
 ('101389186079730', 1),
 ('101389476075237', 1),
 ('101400109236966', 1),
 ('101400119387857', 1),
 ('101400299429560', 1),
 ('101403525532318', 1),
 ('101414568942740', 1),
 ('101421145888142', 1),
 ('101423134592832', 1),
 ('101424061616435', 1),
 ('101425119077014', 1),
 ('101426652220271', 1),
 ('101428874575853', 1),
 ('101438827938413', 1),
 ('101439268998083', 3),
 ('101445218480236', 2),
 ('101445675678316', 1),
 ('101449132748095', 2),
 ('101451028830124', 1),
 ('101453182463856', 1),
 ('101453884634328', 1),
 ('101462385662767', 1),
 ('101463627963668', 1),
 ('101466112707590', 1),
 ('101471469416203', 1),
 ('101472919261203', 2),
 ('101474222695654', 1),
 ('101477461554172', 4),
 ('101479285498030', 4),
 ('101479532715354', 2),
 ('101480935447163', 1),
 ('101483145862769', 1),
 ('101489941250601', 1),
 ('101497692591517', 1),
 ('101503478249465', 1),
 ('101503825633059', 2),
 ('101509562729666', 1),
 ('101509631332510', 1),
 ('101513962600541', 1),
 ('101517139369590', 1),
 ('101520832464299', 1),
 ('101525548645645', 1),
 ('101528009292932', 1),
 ('101532652079952', 1),
 ('101534774851688', 1),
 ('101537878405324', 1),
 ('101538648786364', 1),
 ('101545502129819', 1),
 ('101545951188681', 1),
 ('101552892576881', 2),
 ('101557795695577', 1),
 ('101560919404148', 1),
 ('101564205110024', 1),
 ('1015676545223094', 2),
 ('101568769026637', 1),
 ('101571679318362', 1),
 ('101572849342235', 1),
 ('101574229376217', 1),
 ('101574345635210', 2),
 ('101575315919844', 2),
 ('101577942585603', 2),
 ('101589505134294', 1),
 ('101602032731075', 1),
 ('101608865378587', 2),
 ('101610756026586', 1),
 ('101612835995252', 1),
 ('101614586053933', 1),
 ('101616171666023', 1),
 ('101616345947034', 1),
 ('101619154964975', 2),
 ('101623625746362', 1),
 ('101623928347814', 1),
 ('101624029017262', 1),
 ('101628679241430', 1),
 ('101634235904585', 2),
 ('101636699382931', 1),
 ('1016376471906174', 3),
 ('101642876061448', 2),
 ('101645422100208', 1),
 ('101647785864424', 1),
 ('101649952556174', 1),
 ('101649995163900', 1),
 ('101653989380187', 1),
 ('101657505941392', 1),
 ('101662352452171', 2),
 ('101664235054143', 1),
 ('101671452454122', 1),
 ('101678425402375', 1),
 ('101684361350392', 34),
 ('101685918974253', 3),
 ('101685958415306', 2),
 ('101692502714786', 3),
 ('101694251938128', 2),
 ('101695709132469', 1),
 ('101701724542128', 1),
 ('101703951886838', 1),
 ('101704075259850', 1),
 ('101707795302612', 2),
 ('101707939177911', 2),
 ('101710962678536', 1),
 ('101712869297194', 1),
 ('101714895682003', 2),
 ('101716158443428', 3),
 ('101716164978139', 1),
 ('101716185950658', 1),
 ('101716582243423', 1),
 ('101718618959012', 1),
 ('101722639394426', 1),
 ('101727198693546', 1),
 ('101731268478482', 1),
 ('101732575954377', 1),
 ('101746625867384', 3),
 ('101752805362985', 1),
 ('101756345980558', 1),
 ('101760209304670', 1),
 ('101762712608158', 1),
 ('101763301294627', 4),
 ('101766505038608', 1),
 ('101766965827564', 1),
 ('101767689188090', 3),
 ('101767835897752', 1),
 ('101772122637208', 1),
 ('101778877909306', 1),
 ('101785119101980', 1),
 ('101785485808327', 1),
 ('101787119359126', 2),
 ('101787302202144', 1),
 ('101789604555893', 1),
 ('101797145895078', 1),
 ('101797448808977', 1),
 ('101798369383435', 1),
 ('101801709358934', 1),
 ('101801709376371', 1),
 ('101805676053848', 1),
 ('101806569221261', 1),
 ('101808295060279', 1),
 ('101813435621703', 1),
 ('101816289217852', 3),
 ('101822581971950', 3),
 ('101824362338252', 1),
 ('101824438813056', 1),
 ('101828695684064', 1),
 ('101829295480975', 1),
 ('101831331384213', 1),
 ('101837542615002', 45),
 ('101840944781113', 1),
 ('101841675969086', 1),
 ('101844342606792', 1),
 ('101847779298333', 2),
 ('101860195067272', 1),
 ('101865581757050', 1),
 ('101865672449885', 1),
 ('101871746033729', 1),
 ('101880002713377', 1),
 ('101892082421109', 1),
 ('101894885399310', 2),
 ('101895985988740', 1),
 ('101898584584425', 1),
 ('101899305959905', 1),
 ('101906002673048', 1),
 ('101906328697646', 1),
 ('101908239355919', 2),
 ('101916012652091', 1),
 ('101916372606101', 3),
 ('101922721491474', 1),
 ('101925792401461', 2),
 ('101930201588773', 1),
 ('101931292319818', 2),
 ('101933795428450', 1),
 ('101935181352344', 1),
 ('101945118762174', 1),
 ('101962689295503', 2),
 ('101967252529826', 2),
 ('101971355736319', 1),
 ('101975162699872', 1),
 ('101976102300510', 1),
 ('101976828333534', 2),
 ('101982862337894', 1),
 ('101984881291817', 1),
 ('101985225854498', 1),
 ('101988145094559', 1),
 ('101992145913543', 1),
 ('102005628973319', 1),
 ('102006815097078', 1),
 ('102007252689566', 1),
 ('102017872411802', 1),
 ('102019749321992', 2),
 ('102021961463489', 3),
 ('102023094702119', 1),
 ('102027812156420', 3),
 ('102036911438321', 1),
 ('102037726000969', 1),
 ('102040735777980', 1),
 ('102051241599559', 2),
 ('102053028800421', 3),
 ('102057185487613', 1),
 ('102058509274948', 1),
 ('102064575193079', 6),
 ('102065595431752', 2),
 ('102076262018788', 1),
 ('102076494723002', 1),
 ('102080388588092', 8),
 ('102084225750372', 2),
 ('102084531877164', 1),
 ('102085785997241', 1),
 ('102087252570888', 1),
 ('102089052678173', 4),
 ('102089304604228', 1),
 ('102090705679661', 1),
 ('102091591996389', 1),
 ('102093064954882', 1),
 ('102095189358855', 1),
 ('102096638637185', 1),
 ('102099084896418', 1),
 ('102100129147636', 1),
 ('102101654692670', 1),
 ('102103022149943', 1),
 ('102104345639116', 1),
 ('102105735308791', 1),
 ('102105992475406', 1),
 ('102107022402626', 1),
 ('102109849245104', 1),
 ('102110798894066', 1),
 ('102114099266272', 1),
 ('102114682053863', 1),
 ('102116301881604', 1),
 ('102120108750728', 3),
 ('102127839338089', 1),
 ('102129445998705', 1),
 ('102129731512785', 1),
 ('102131048859356', 2),
 ('102135138452366', 1),
 ('102140728691911', 1),
 ('102147544957637', 4),
 ('102148975960451', 1),
 ('102149506515937', 2),
 ('102152972336153', 1),
 ('102154429108402', 1),
 ('102156355983863', 1),
 ('102158059350932', 1),
 ('102160141912434', 1),
 ('102161035159293', 1),
 ('102163689007193', 1),
 ('102164408246616', 11),
 ('102167672268091', 5),
 ('102169148316246', 1),
 ('102175039338414', 1),
 ('102176115308568', 1),
 ('102176286005073', 1),
 ('102185768297475', 5),
 ('102188011589254', 1),
 ('102190132554429', 3),
 ('102194881131472', 6),
 ('102201102639739', 1),
 ('102203308831253', 4),
 ('102208782093124', 3),
 ('102209628158856', 1),
 ('102215538670408', 1),
 ('102215929328516', 1),
 ('102219112209947', 1),
 ('102228319067906', 3),
 ('102228655452331', 1),
 ('102229962072790', 1),
 ('102230348520614', 2),
 ('102231814875808', 1),
 ('102231968269487', 1),
 ('102232448644873', 2),
 ('102233205904026', 2),
 ('102234014530326', 2),
 ('102235065630064', 1),
 ('102239005508401', 1),
 ('102240435977786', 1),
 ('102241262556136', 1),
 ('102242122427766', 1),
 ('102244992059528', 2),
 ('102250679188267', 1),
 ('102256905596368', 1),
 ('102258415014707', 1),
 ('102261615783246', 1),
 ('102266252187800', 1),
 ('102266897876582', 2),
 ('102269625986657', 1),
 ('102278434499222', 1),
 ('102284179291256', 11),
 ('102286869080140', 1),
 ('102293275962949', 1),
 ('102295474493527', 1),
 ('102295909214661', 3),
 ('102301905802032', 1),
 ('102301921791021', 1),
 ('102305999318338', 2),
 ('102306706005237', 1),
 ('102310802665307', 1),
 ('102311378831641', 1),
 ('102314328363040', 1),
 ('102320564524277', 1),
 ('102326211623465', 1),
 ('102328405826282', 1),
 ('102328499317248', 4),
 ('102338609139566', 1),
 ('102339221881501', 7),
 ('102341235989301', 2),
 ('102351419133345', 1),
 ('102351431686140', 1),
 ('102355692401978', 7),
 ('102356315894982', 2),
 ('102356579084684', 3),
 ('102358235991231', 1),
 ('102359405816445', 3),
 ('102367069325257', 1),
 ('102379181193251', 2),
 ('102382168987241', 1),
 ('102386138813749', 2),
 ('102386935563418', 1),
 ('102388498773952', 4),
 ('102390709246653', 1),
 ('102393531573279', 1),
 ('102394082607530', 1),
 ('102395895994781', 1),
 ('102400985572059', 1),
 ('102402438126033', 1),
 ('102412692457953', 1),
 ('102416679325967', 1),
 ('102418349311701', 1),
 ('102419435907375', 4),
 ('102426398949630', 1),
 ('102435245906817', 9),
 ('102443032647055', 1),
 ('102446712567843', 1),

In [87]:
!pip install mysql.connector

Collecting mysql.connector

WARNING: There was an error checking the latest version of pip.

  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 11.9/11.9 MB 2.2 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247946 sha256=c55ac5566bcf3136d7d3a7d18cce1caeb8f0de1a3af0b40a56f42cbed0bc774e
  Stored in directory: c:\users\asd_v\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9